.vscode/
test.ipynb
data_ocr_500k
evaluation/
training/
validation/
__pycache__/
workdir/
a/
WikiText-103_eval_d1.csv
WikiText-103.csv
infer.ipynb
prediction.txt
eda/
consistency-regularization/
backup/
create_data_train.ipynb
prediction_backup.txt
visualize-data.ipynb
view/
augument/
output/
notebook/
submited/
demo_.py